.home-fondo {
  background-image: url('../../assets/img/imagen.png');
  background-size: cover;
  @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:ital@0;1&family=Bellefair&display=swap');
  /* Otros estilos de fondo si es necesario */

}

.container__home {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 200px;



    h1 {
      color: white;
      height: 172px;
      width: 445px;
      left: 0px;
      // top: 158px;
      border-radius: nullpx;
      font-family: Bellefair;
      font-size: 150px;
      font-weight: 400;
      line-height: 172px;
      letter-spacing: 0px;
      text-align: left;
      margin-top: 50px;


    }

    p {
      height: 128px;
      width: 444px;
      left: 0.5px;
      top: 254px;
      border-radius: nullpx;
      font-family: Barlow;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: left;
      color: #D0D6F9;
      margin-top: 50px;
    }
  }
  .container__home-info{
    width: 30rem;
    h3 {
      color: #D0D6F9;
      font-family: Barlow Condensed;
      font-size: 28px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 4.724999904632568px;
      text-align: left;
      height: 34px;
      left: 0.5px;
    }
  }



  .container__home-imagen {
    display: flex;
    position: absolute;
    margin-left: 1450px;
    margin-top: -350px;
    height: -400px;

    h2 {
      position: absolute;
      height: 37px;
      left: 22.63%;
      right: 23.36%;
      top: calc(50% - 37px/2 + 0.5px);
      font-family: 'Bellefair';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 37px;
      letter-spacing: 2px;
      color: #0B0D17;
    }
  }
