<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/styles.scss">
    <link rel="stylesheet" href="./styleDestination.scss">
    <link rel="stylesheet" href="../navBar/styleNavBar.scss">
</head>
<body>
    <img src="../../assets/img/moon.png" alt="">
    <img src="../../assets/img/Oval.svg" alt="">
    <img src="../../assets/img/MARS.svg" alt="">
    <img src="../../assets/img/euro.png" alt="">
    <img src="../../assets/img/titan.png" alt="">
    <img src="../../assets/img/imgDestination.png" alt="">
</body>
</html>