@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:ital@0;1&family=Bellefair&display=swap');
@import '../../styles/styles.scss';

.destination{
        display: flex;
        width: 25rem;
        position: absolute;
        height: 19px;
        left: 52.5rem;
        right: 28.72%;
        top: calc(50% - 19px/2 - 7.5px);
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: #D0D6F9;

        @include tablet{
            // margin-left: 12rem;
            // margin-top: 27rem;
            left: 12rem;
            right: 0;
            top: 34rem;
            padding: 1rem;
            width: 20rem;
            height: 5rem;
            align-items: center;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
        }
        @include mobile{
           
            left:2.5rem;
            top: 23.5rem;
            width: 19rem;
            display: flex;
            justify-content: space-between;
            font-family: 'Barlow Condensed';
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 2.3625px;
            color: $colorWhite;
            right: 0;
        }  
        &__link  {
            color: #D0D6F9;
        }
        &__line {
            width: 100px;
            height: 2px;
            background-color: white;
            margin: auto;
            padding: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            transition: width 400ms cubic-bezier(.075, .82, .165, 1);
            margin-top: 2rem;
            display: flex;
            gap: 2rem;
            align-items: center;
            font-weight: 600;
            cursor: pointer;
        
            @include mobile {
                height: auto;
                gap: 0.5rem;
                width: 100px;
            }
        }

    ul {
        display: flex;
        align-items: center;
        font-weight: 600;
        cursor: pointer;
        li:hover {
          .line {
            visibility: visible;
            margin-top: 1rem;
            }   
        }
        li{
                max-width: 100px; 
                padding-right: 5px;
                text-align: center;

            @include mobile{
                max-width: 70px; 
                padding-right: 5px;
                text-align: center;
            }
           

        }

    }
    

}
.main {
    display: flex;

    @include tablet{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    @include mobile{
        display: flex;
        flex-direction: column;
        width: 22.5rem;
        height: 50rem;

    }

    &__containerLeft {
        width: 53rem;
        height: 46rem;
        @include tablet{
            width: 47rem;
            height: 30rem;
        }
        @include mobile{
            width:22rem;
            height: 22rem;
            
        }
    }

    &__containerTitle {
        display: flex;
        gap: 1.5rem;
        width: 25rem;
        margin-left: 11rem;
        margin-top: 5rem;
        @include tablet{
            margin-left: 2rem;
            margin-top: 3rem;
            gap: 1rem;
        }
        @include mobile{
        
            width: 14rem;
            margin-left: 4.5rem;
            margin-top: 2rem;
        }
    }

    &__numTitle {
        height: 34px;
        font-family: $fontsubTitle;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        color: $colorGray;
        mix-blend-mode: normal;
        opacity: 0.25;
        @include tablet{
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 3.375px; 
        }
        @include mobile{
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px; 
            height: 1.5rem;
            font-family: 'Barlow Condensed';
            color: $colorWhite;
            opacity: 0.25;
        }
    }

    &__title {
        height: 34px;
        color: $colorWhite;
        font-family: $fontsubTitle;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        text-transform: uppercase;

        @include tablet{
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 3.375px;
            line-height: 24px;
            text-transform: uppercase;
        }
        @include mobile{
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
            height: 1.5rem;
            width: 15rem;
            ont-size: 16px;
        }
        
    }

    &__containerImg {
        margin-left: 15rem;
        margin-top: 6rem;
        width: 35rem;
        @include tablet{
            margin-left: 2rem;
            margin-top:2rem;
            width: 44rem;
            height: 23rem;
           
        }
        @include mobile{
            margin-left: 1rem;
            margin-top: 1.5rem;
            width:20rem;
            height: 13rem;
            padding-left: 3rem;
        }
    }

    &__figureImg {
        width: 29rem;
        height: 29rem;
        padding: 10px;

        @include tablet{
            width: 22rem;
            height: 22rem;
            margin-left: 11rem; 
        } 
        @include mobile{
            width:13rem;
            height: 13rem;
            margin-left: 1.5rem; 
            margin-top: 2rem;
            padding: 0;
        }
        img {
            width: 100%;
        }
    }

    &__containerRight {
        
        width: 29rem;
        height: 42rem;
        padding-left: 2.5rem;
        padding-top: 12rem;
        @include tablet{
          
            width: 47rem;
            height: 29rem;
            padding-left:5rem;
            padding-top: 3rem;
        }
        @include mobile{
          
            width:22.7rem;
            height: 28rem;
            padding-left:1rem;
            padding-right: 1rem;
            padding-top: 0;
        }

    }

    &__containerName {
       
        width: 17rem;
        padding-top: 3rem;
        padding-bottom: 1.3rem;
        font-family: $fontTitle;
        font-style: normal;
        font-weight: 400;
        font-size: 7rem;
        line-height: 115px;
        color: $colorWhite;

        @include tablet{
            width: 36rem;
            font-style: normal;
            font-size: 90px;
            line-height: 92px;
            padding: 0;
            margin: 0;
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 1.3rem;
        }
        @include mobile{
            width: 19.5rem;
            padding-top: 1.5rem;
            ont-family: 'Bellefair';
            font-size: 56px;
            line-height: 64px;
        }
    }

    &__containerParagraph {
        width: 25rem;
        padding-bottom: 4rem;
        
        @include tablet{
          
            width: 36rem;
            text-align: center;
            padding-bottom: 1.5rem;
            padding-top: 1rem;
        }
        @include mobile {
            width: 20.5rem;
            padding-bottom: 1.5rem;
            padding-top: 0;
        }
    }

    &__paragraph{
        font-family: $fontParagraph;
        color: $colorBlue;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        @include tablet{
            font-size: 16px;
            line-height: 28px;
            text-align: center;
        }
        @include mobile{
            font-size: 15px;
            line-height: 25px;
            text-align: center;
        }
    }
    &__line{
       width: 25rem;
        height: 1px;
        position: absolute;
        background-color: $colorWhite;
        @include tablet {
            width: 36rem;
        }
        @include mobile{
            width: 21rem;
        }
    }
    &__container-date{
       
        width: 24rem;   
        display: flex;
       
        @include tablet{
            width: 24rem;
            display: flex;
            padding-top: 1rem;
            margin-left: 6rem;
            padding-bottom: 3rem;
        }
        @include mobile{
            padding-top: 1rem;
            margin-left: 4rem;
            width: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-top: 1rem;
            font-size: 14px;
            text-align: center;
            gap: 1.5rem;
        }

    }
    &__container-distance{

      
        width: 14rem;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        @include tablet{
            height: 4rem;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    &__cointainer-travel{
        width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        @include tablet{
           
            width: 14rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        @include mobile{
            width: 12rem;
            display: flex;
            flex-direction: column;
        }
    }
    &__span-text{
        color: $colorBlue ;
        margin-bottom: 2rem;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
        text-transform: uppercase;

        @include tablet{
            color: $colorBlue ;
            padding-bottom: 0.5rem;
            text-align: center;
        }
       
    }
    
    &__span-date{
       
        color: $colorWhite;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        text-transform: uppercase;
        font-family: 'Bellefair';
        
        @include tablet{
            color: $colorWhite;
            font-size: 28px;
            line-height: 32px;
            text-align: center;
        }
        
    }
}